.sidebar{
  width:240px;
  background:white;
  min-height:100vh;
  border-right:1px solid #e5e7eb;
  padding:20px;
  display:flex;
  flex-direction:column;
}


.sidebar--closed{
  display:none;
}

.sidebar__btn{
  border:none;
  background:linear-gradient(135deg,#0ea5e9,#8b5cf6);
  color:white;
  padding:14px;
  border-radius:12px;
  font-weight:700;
  cursor:pointer;
  margin-bottom:24px;
}

.sidebar__links{
  display:flex;
  flex-direction:column;
  gap:8px;
}

.sidebar__link{
  text-decoration:none;
  color:#374151;
  padding:12px;
  border-radius:10px;
  transition:0.2s;
  display:flex;
  align-items:center;
  gap:14px;
}

.sidebar__link:hover{
  background:#eef2ff;
  color:#4f46e5;
}

.sidebar__link--active{
  background:#eef2ff;
  color:#4f46e5;
  font-weight:700;
}

.sidebar__bottom{
  margin-top:25px;
}

.sidebar__profile{
  margin-top:14px;
  display:flex;
  align-items:center;
  gap:12px;
  padding-top:20px;
  border-top:1px solid #e5e7eb;
  cursor:pointer;
}

.sidebar__avatar{
  width:42px;
  height:42px;
  border-radius:50%;
  background:linear-gradient(135deg,#0ea5e9,#8b5cf6);
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:700;
}

.sidebar__profile h4{
  font-size:14px;
  margin-bottom:4px;
}

.sidebar__profile p{
  font-size:12px;
  color:#6b7280;
}